{% extends 'cetcarweb/base.html' %}
{% block content %}
{% load staticfiles %}
<div class="slider">
        <div class="container">
            <div id="about-slider">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-slider" data-slide-to="1"></li>
                        <li data-target="#carousel-slider" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'images/slider_one.jpg' %}" class="img-responsive" alt=""> 
                       </div>
                       <div class="item">
                            <img src="{% static 'images/slider_one.jpg' %}"" class="img-responsive" alt=""> 
                       </div> 
                       <div class="item">
                            <img src="{% static 'images/slider_one.jpg' %}" class="img-responsive" alt=""> 
                       </div> 
                    </div>
                    
                    <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i> 
                    </a>
                    
                    <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                        <i class="fa fa-angle-right"></i> 
                    </a>
                </div> <!--/#carousel-slider-->
            </div><!--/#about-slider-->
        </div>
    </div>
<br><br><br><br><br>
<h3 style="font-family:arial; color:#000">CETCAR es una empresa comprometida con el desarrollo humano y tecnológico de nuestra sociedad, por esta razón te ofrece una alternativa seria y con los más grandes beneficios. Nos permitimos presentar todo un programa de capacitación diseñado para satisfacer tus necesidades sobre SISTEMAS y ELECTRÓNICA; dicha capacitación se desarrolla con un excelente material de estudio y con ingenieros docentes altamente capacitados y experimentados, lo cual permitirá cubrir todas tus expectativas y necesidades, visionando un horizonte muy prometedor en el área laboral.</h3>
<br><br><br><br><br>
{% endblock %}