{% extends 'cetcarweb/base.html' %}
{% block content %}
{% load staticfiles %}


<br>               
<br>
<br>
<div class="item">
	<img src="{% static 'images/telecomunicaciones.jpg' %}" class="img-responsive"  width="auto" height="100px" align="center">
</div> 
               
<br>              

<h1 style="font-family:arial; color:#000"> ¿QUIÉNES SOMOS? </h1>
<h3 style="font-family:arial; color:#000" align="justify"> CETCAR es una empresa que ofrece servicios técnicos profesionales en las áreas de Computación, Electrónica y Telecomunicaciones; la cual posee la experiencia y la experticia en la prestación de servicios técnicos profesionales relacionados con la Tecnología de la Información y las Comunicaciones (TIC´s) a empresas y público en general, sustentando su liderazgo tecnológico en la Honestidad, la Calidad y el Cumplimiento.</h3>

<br>
<h1 style="font-family:arial; color:#000"> MISIÓN </h1>
<h3 style="font-family:arial; color:#000" align="justify"> CETCAR es una empresa colombiana legalmente establecida, asentada en el área metropolitana de la ciudad de Barranquilla, dedicada a satisfacer las necesidades de soporte técnico en el campo de la Informática, la Electrónica y las Telecomunicaciones. Sus servicios están orientados a brindar soluciones empresariales en las áreas de software, hardware y network. Para ello, presta soporte tecnológico, asesorías y capacitación técnica laboral a la medida de las necesidades particulares de los usuarios. Para realizar su labor hace uso de las herramientas y recursos especializados para tal fin, además del conocimiento y experiencia de su certificado recurso humano.
</h3>

<br>

<h1 style="font-family:arial; color:#000"> VISIÓN </h1>
<h3 style="font-family:arial; color:#000" align="justify">CETCAR se consolidará como una organización prestadora de servicios tecnológicos a nivel regional y nacional, la cual será reconocida por su excelso servicio al cliente y por brindar soluciones integrales y eficientes, teniendo como factor diferenciador la perfección en la calidad del servicio prestado, generando confianza y fidelidad en sus clientes. Todo ello, acompañado por una amplia gama de oportunidades de desarrollo personal y profesional para sus colaboradores, los cuales deberán desempeñarse de forma ética y satisfactoria para la empresa y sus clientes. De igual forma, seremos solución integral a las necesidades tecnológicas de la pequeña y mediana empresa, ofreciendo productos y servicios con resultados altamente satisfactorios.
</h3>
{% endblock %}