driconf==0.9.1
ecdsa==0.13
future==0.16.0
numpy==1.13.1
opencv-contrib-python==3.2.0.8
opencv-python==3.2.0.8
paramiko==1.16.0
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.20.0
python-apt===1.1.0.b1-elementary2-ubuntu16.04.1
requests==2.12.1
six==1.10.0
sodapy==1.4.3
